<!DOCTYPE html>
<html>

<head>
<title>My Blog</title>
<link rel="stylesheet" type="text/css" href="/styles/style.css"/>
<link rel="stylesheet" type="text/css" href="/styles/base.css"/>
<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
{% block head %}
{% endblock %}
</head>

<body>
<header>
	<span>
	<div class="flex-head"></div>
	<div class="flex-head">
		<h1><a href="/" id="header">Torres Blog</a></h1>
	</div>
	<div id="user_forms" class="flex-head">
			{% if username: %}
				<div><a href="/blog/newpost">Write a Post</a></div>
				<div class="bullet">&bullet;</div>
				<div><a href="/blog/logout">Logout</a></div>
			{% else: %}
				<div><a href="/blog/signup">Signup</a></div>
				<div class="bullet">&bullet;</div>
				<div><a href="/blog/login">Login</a></div>
			{% endif %}
	</div>
	</span>
	<div id="sub-header">A blog by educators, for educators</div>
</header>
{% block content %}
{% endblock %}
<footer>
	Richard Torres &copy; 2015. All rights reserved.
</footer>
</body>
</html>