{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/styles/newpost.css"/>
{% endblock %}

{% block content %}
<form method="post" id="newpost" action="/blog/{{blog_id}}/edit">
	<div name="error" id="error">{{error}}</div>
	<label>
		<span>Subject</span><br>
		<input type="text" id="title" name="subject" autofocus autocomplete="off" value="{{subject}}"/><br>
	</label>
	
	<br>
	<label>
		<span>Content</span><br>
		<textarea name="content">{{content}}</textarea>
	</label>
	
	<br>
	<button>Post</button>
</form>
{% endblock %}