{% extends '_master.html' %}

{% block title %}
	Richard Torres
{% endblock %}

{% block content %}
	<h3>Hi! I'm Richard, a STEM educator and web developer based in Boston, MA.</h3>
	<p>I've been a mathematics, science, and computer science teacher for years and a developing developer (bad pun intended).
	I'm currently on the market looking for new opportunities in development.</p>
	<p>I enjoy building applications in PHP and Python. </p>
	<p>Check out my projects, read my blog, read more about me, and feel free to leave me a message!</p>
{% endblock %}