{% extends "base.html" %}

{% block content %}
	<form method="post" id="login">
		<h3>Log in to your account</h3>
		<table>
			<tr>
				<td>Username</td>
				<td><input type="text" name="username"/></td>
				<td><div>{{ error_user }}</div></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password"/></td>
				<td>{{ error_password }}</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Login"/></td>
			</tr>
			<tr>
				<td></td>
				<td>Need to signup? <a href="/blog/signup">Signup Here</a></td>
			</tr>
		</table>
	</form>
{% endblock %}