{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/styles/newpost.css"/>
{% endblock %}

{% block content %}
<div id="post_form">
	<form method="post">
		<div name="error" id="error">{{error}}</div>
		<label for="subject">Subject</label><br/>
		<input type="text" id="title" name="subject" autofocus autocomplete="off" value="{{subject}}"/><br/>
		<label for="content">Content</label><br/>
		<textarea name="content">{{content}}</textarea><br/>
		<div><input type="submit" value="Post"/></div>
	</form>
</div>
{% endblock %}