{% extends "base.html" %}

{% block content %}
	<form method="POST" id="signup">
		<h3>Sign up for an account today!</h3>
		<div class="form-frame">
			<div class="row-wrapper">
				<div class="row">
					<div class="col-1">Username:</div>
					<div><input type="text" name="username" value="{{username}}"/></div>
					<div class="error" id="error_user">{{error_user}}</div>
				</div>
				<div class="row">
					<div class="col-1">Password:</div>
					<div><input type="password" name="password"/></div>
					<div class="error" id="error_password">{{error_password}}</div>
				</div>
				<div class="row">
					<div class="col-1">Verify:</div>
					<div><input type="password" name="verify"/></div>
					<div class="error" id="error_verify">{{error_verify}}</div>
				</div>
				<div class="row">
					<div class="col-1">Email: (Optional)</div>
					<div><input type="email" name="email" value="{{email}}"/></div>
					<div></div>
				</div>
			</div>
			<div><input type="submit" value="Signup"/></div>
			<div>Already a member? <a href="login">Login here</a></div>
		</div>
	</form>
{% endblock %}