#wrapper {
	width: 50%;
	margin: 10px auto;
}

#greeting {
	text-align: center;
	font-family: Muli;
	color: white;
}

#greeting h3 {
	margin: 0.5em auto;
}

#navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 1em;
	font-family: Muli;
}

#navbar a:hover {
	color: #F77;
}

#navbar div {
	width: 100%;
}

#navbar div a {
	color: #FAFAFA;
}

#next-page, #last-page {
	text-align: right;
}

label {
	display: inline-block;
	margin: 5px;
	font-size: 0.8em;
	color: white;
	font-weight: bold;
}

textarea {
	resize: none;
	width: 100%;
	height: 320px;
}


#title, textarea {
	width: 100%;
	box-sizing: border-box;
	padding: 5px;
	font-family: Muli;
	font-size: 0.75em;
}

#error {
	color: #F88;
	font-size: 0.75em;
	font-weight: bold;
}

#content, #blogpost {
	width: 640px;
	margin: 5px 0;
	text-align: left;
	word-wrap: break-word;
}

#blogpost {
	font-size: 1em;
}

#blog {
	box-sizing: border-box;
	width: 100%;
	background-color: white;
	display: inline-block;
	padding: 20px;
	font-size: 10pt;
	border-radius: 5px;
	margin: 10px 0;
}

#post_link {
	text-align: center;
}

#blog-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px auto 10px auto;
}

#blog-wrapper div {
	width: 100%;
	text-align: center;
}

#blog-wrapper form {
	margin: 0;
	padding: 0;
}

#blog p {
	margin: 5px 0;
}

#blog .subject {
	font-size: 1.5em;
}

a {
	font-size: 1em;
	text-decoration: none;
	color: dimgray;
	display: inline-block;
	font-weight: bold;
}

a:hover, input[type=submit]:hover, #post-form-options div a:hover {
	color: #F77;
}

#btn-delete {
	border: none;
	cursor: pointer;
	background: none;
	font-size: 1em;
	font-family: Muli;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

#post_form {
	margin: auto;
	width: 640px;
}

#post_form input[type=text], #post_form textarea {
	width: 100%;
}

#post-form-options {
	display: flex;
	align-items: flex-start;
}

#post-form-options div {
	width: 100%;
	margin: 0;
	padding: 0;
}

#post-form-options div:first-child {
	text-align: left;
}

#post-form-options div:last-child {
	text-align: right;
}

pre {
	font-size: 1.25em;
	font-family: sans-serif;
	text-align: justify;
	white-space: pre-wrap;
	word-wrap: break-word;
}

#signup input[type=text], #signup input[type=password], #login input[type=text], #login input[type=password], #signup input[type=email], #login input[type=email] {
	outline-color: gray;
	border: none;
	font-size: 0.9em;
}

input[type=submit], #post-form-options div a  {
	padding: 0.2em 1em;
	border: none;
	cursor: pointer;
	font-size: 0.75em;
	color: dimgray;
	font-weight: bold;
	background-color: #E0E0E0;
	font-family: Muli;
}

#post-form-options div a {
	font-size: 0.75em;
	font-weight: bold;
	color: dimgray;
}

#signup, #login {
	background-color: #EFEFEF;
	display: inline-block;
	text-align: center;
	margin: auto;
	padding: 10px 20px;
}

#signup a, #login a {
	font-size: 0.9em;
}

#signup td, #login td {
	height: 2em;
}

#signup td:first-child, #login td:first-child {
	text-align: right;
}

#signup_redirect {
	font-size: 0.8em;
}

#signup input[type=submit], #login input[type=submit] {
	background: none;
	font-size: 1em;
}